/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom Properties */
:root {
  /* Screen Sizes */
  --mobile: 343px;
  --desktop: 840px;

  /* Colors - Using HSL values instead of hsl() p->primary n->neutral a->accent*/
  --pclr-dark-blue: 234, 12%, 34%;
  --nclr-grey-blue: 229, 6%, 66%;
  --nclr-light-grey: 0, 0%, 98%;

  /* Typography */
  /* Fonts */
  --ff-primary: "Poppins", sans-serif;
  /* Sizes */
  --global-font-size: 0.938rem;
  /* Weights */
  --fw-light: 200;
  --fw-base: 400;
  --fw-bold: 600;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--global-font-size);
  font-weight: var(--fw-base);
  color: hsl(var(--pclr-dark-blue));
  background-color: hsl(var(--nclr-light-grey));
}

.hero {
  --gap-width: 1.875rem;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 4rem;
}

.info {
  --heading-font-size: 2.25rem;
  display: grid;
  gap: 1rem;
  max-width: 540px;
  justify-self: center;
}

.info h1 {
  font-size: var(--heading-font-size);
  font-weight: var(--fw-light);
  text-align: center;
}

.info strong {
  font-weight: var(--fw-bold);
}

.info p {
  text-align: center;
  opacity: 0.5;
}

.flex {
  display: flex;
  gap: var(--gap-width);
  align-items: center;
  justify-content: center;
}

.col {
  display: grid;
  gap: var(--gap-width);
}

@media (width<1440px) {
  .hero {
    padding-top: 5.3125rem;
    padding-inline: 2rem;
  }
  .info {
    --heading-font-size: 1.5rem;
  }
}

@media (width<1180px) {
  .flex {
    flex-direction: column;
  }
}
